MarvelPress.ShopifyNav.WebAPI/Service References/EmailServiceReference/EmailService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58424/EmailService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/WebNotificationServices.Classes.Email" />
  <xs:element name="sendEmailNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebNotificationServices.Classes.Email" minOccurs="0" name="emailNotification" nillable="true" type="q1:EmailNotification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendEmailNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendEmailNotificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>